
/*background: linear-gradient(90deg, rgba(224,24,24,1) 0%, rgba(255,207,0,1) 100%);*/

.dot {
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    margin-right: .3rem;
    display: inline-block;
}

.warning-gradient-bg {
    background: rgb(224,24,24);
    background: linear-gradient(90deg, rgba(255,160,0,1) 0%, rgba(255,190,0,1) 100%);
}

.alert-gradient-bg {
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,160,0,1) 100%);
}


.patient-status-text {
    font-weight: bold;
}


.room-details-title {
    font-size: 3rem;
}

.room-details-date {
    font-size: .8rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.row-style {
    height: 2.5rem;
}

.clickable-card {
    cursor: pointer;
}